<!DOCTYPE html>
<html lang="en">
<head>
    @* <partial name="Partials/_PartialMetaTags" /> *@
    @await Html.PartialAsync("Partials/_PartialMetaTags")

    <title> @ViewData["Title"] </title>

    <partial name="Partials/_PartialStyleTag" />

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-info navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>

            @await RenderSectionAsync("SearchBox", false)

            <!-- Right navbar links -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fa fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="/AdminTemplate/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">پنل مدیریت</span>
            </a>

            <partial name="PartialSection/_PartialSidenarMenu"/>

        </aside>

        @RenderBody()

        <partial name="PartialSection/_PartialFooter" />

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
<!-- ./wrapper -->
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <partial name="Partials/_PartialJavaScripts" />
    @await RenderSectionAsync("JavaScriptsSection", false)

</body>
</html>