form.d-inline {
    display: inline;
}

.delete-btn {
    float: left;
    cursor: pointer;
    color: red;
    font-size: 1.2em;
}

.img-records {
    max-width: 100% !important;
    max-height: 50px !important;
}

.img-add-user {
    max-width: 100% !important;
    max-height: 200px !important;
}

.swal2-rtl {
    direction: rtl !important;
    text-align: right !important;
}